name: doc

on:
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy_document:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build HTML
        with:
          pre-build-command: "apt install -y pandoc"
        uses: ammaraskar/sphinx-action@0.4

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: html-docs
          path: docs/_build/html/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
